{% block body %}

    <h1> Liste de toutes les annonces :</h1>
    <button type="button">
        <a href="{{ "membre/add" }}">Ajouter un admin</a>
    </button>
    <br>
    <table>
        <thead>
        <tr>
            <th> ID </th>
            <th> Pseudo </th>
            <th> Nom </th>
            <th> Prénom </th>
            <th> Téléphone </th>
            <th> Email </th>
            <th> Civilité </th>
            <th> Satut </th>
            <th> Date_enregistrement</th>
            <th colspan="2"> Action</th>
        </tr>
        </thead>
        <tbody>
        {% for annonce in liste %}
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.pseudo }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.telephone }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.civilite }}</td>
                <td>{{ membre.statut }}</td>
                <td>{{ annonce.dateenregistrement|date("d-m-Y") }}</td>
                <td></td>
                {#                <td><a href="{{ path("artist_update", { id: artiste.id}) }}"><i class="fas fa-pencil-alt"></i></a> </td>#}
                {#                <td><a href="{{ path("artist_delete", { id: artiste.id}) }}"><i class="fas fa-trash-alt"></i></a> </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}